*{
  overscroll-behavior: none;
  
  cursor: url('../cursors/circle-1.svg'), auto;

}

html, body {
    margin: 0;
    padding: 0;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }
  canvas {
    display: block;
  }

  