*{
  overscroll-behavior: none;
}

html, body {
    margin: 0;
    padding: 0;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
  }
  canvas {
    display: block;
  }
  