/*
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

*/

body::-webkit-scrollbar{
    background: #ffffff00;
    width: 12px;
  }

body::-webkit-scrollbar-thumb{
    background: #FF6629;
  }
body::-webkit-scrollbar-track {
    background: #03a5a5a8;
  }

* { 
    font-family: 'Montserrat';
    }
    
#sketch-holder{
    position: fixed;
    top: 0px;
    overflow: clip;
    z-index: -1;
}


p { line-height: 1.4; 
    font-family: 'Montserrat';}

a { 
    text-decoration: none;
    transition: all 0.3s ease; 
}

.hover_box{
    cursor: pointer;
}

hr.dotted {
    opacity: 30%;
    border-top: 4px solid #8b8b8b;
    background-color: #ffffff00;
  }

.spacer{
    padding-top: 4px;
    padding-bottom: 4px;
}

.end_spacer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.header2{
    font-family: 'Montserrat';
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #666;
}

.caption{
    width: 100%;
    background-color: #222;
    font-family: 'Montserrat';
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    color: #b6b6b6;
}



/* Gallery section */
.tm-gallery-links {
    position: relative;
    overflow: hidden; 

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;   
    
    margin-top: 12px;
    margin-bottom: 12px;


    display: flex;
	flex-wrap: wrap;

}


.linkContainer{
    width: auto;
    margin: auto;
}


.filterList{
    display: inline-block;
    width: 150px;

    margin-right: 0px;

}


.tm-gallery-links button {
    border:#000000 2px solid;
    border-radius: 4px;
    width: 140px;
    margin: 0px;

    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.tm-gallery-link {
	color: #464646;	
}

.tm-gallery-link:hover {
    color: #000000;
	background-color: rgba(220,220,220,0.8);
}

.tm-gallery-link.active{ 
    color: #ffffff; 
    background-color: rgba(243, 90, 30, 0.85);
}

.tm-gallery-link.active:hover{ 
    color: #ffffff; 
    background-color: #f05f25;
}
/* Gallery section */


.hover_box .d-flex{
    padding-top: 1px;
    padding-left: 15px;
    font-size: 18px;
    animation: fadeOutText 1s; 
}

.hover_box .d-flex .tm-text-gray-light{
    font-size: 15px;
    padding-top: 2px;
    line-height: 0.5;
    color: #242424;
}

.icon_image { 
    display: block;
    border: 3px solid black;
    border-radius: 0px;
    animation: fadeOut 1s; 
}

.hover_image { 
    display: none;
    background-color: rgba(220,220,220,0.7);
    border: 3px solid black;
    border-radius: 45px;   
}

.hover_box:hover .icon_image { 
    display: none;
    
}

.hover_box:hover  .hover_image { 
    display: block;
    animation: fadeIn 0.3s; 
}

.hover_box:hover .d-flex{
    animation: fadeInText 0.3s; 
    color: #FF6629
}

@keyframes fadeInText{
    0%{ color: #999;}
    100%{ color: #FF6629;}
    }

@keyframes fadeOutText{
    0%{ color: #FF6629;}
    100%{ color: #999;}
    }


@keyframes fadeIn{
0%{background: rgba(220,220,220,0.0);
    border-radius: 0px;}
100%{background: rgba(220,220,220,0.7);
    border-radius: 45px;}
}

@keyframes fadeOut{
    0%{background: rgba(220,220,220,0.7);
        border-radius: 45px;}
    100%{background: rgba(220,220,220,0.0);
        border-radius: 0px;}
    }

.video-container {
    position: relative;
    width: 100%;
    height: 664px;
 }

.youtubeVideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobileWindow {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.desc-text{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

a:hover { color:#FF6629; }
.container-fluid { max-width: 1200px; }
.tm-container-small { max-width: 1050px; }
.btn { border-radius: 0; }
.btn-primary {
    background-color: #009999;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#086969;
}

.btn-primary.disabled, 
.btn-primary:disabled {
    background-color: #009999;
    pointer-events: all;
    cursor: not-allowed;
}

.form-control {
	padding: 10px 20px;
	width: 100%;
	height: auto;
}

.form-group { margin-bottom: 25px; }
.tm-btn-big { padding: 12px 90px 14px; }

/* NAVBAR */
.navbarContainer{
    display: block;

}

.navbar{
    background-color: #ffffff;
    z-index: 1000;  
    border-bottom: #000000 solid 2px ;

}

.navbar-collapse {margin-right: 20px;}

.navbar-toggler:focus { box-shadow: none; }
.navbar-brand {
    margin-left: 20px;
    color: #000000;
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
}

.navbar-brand i { font-size: 2rem; }


.nav-item { margin-right: 30px; }
.nav-item:last-child { margin-right: 0; }

.nav-link {
    color: #000000;
    font-family: 'Montserrat';
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.nav-link.active{border-color: #000000;}

.fullscreenToggle{
    display: none;
}

/* NAVBAR */

.tm-hero {
    min-height: 200px;
    background: transparent;
}

.tm-mt-30 { margin-top: 30px;}
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-74 { margin-bottom: 74px; }
.tm-mb-90 { margin-bottom: 90px; }
.tm-text-primary { color: #009999; }
.tm-text-secondary { color: #CC6699; }
a.tm-text-primary:hover { color:#666666; }
.tm-bg-gray { background-color: #EEEEEE; }
.tm-input-paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    text-align: center;
}

.nav-item { margin-right: 30px; }
.nav-item:last-child { margin-right: 0; }

.nav-link {
    color: #000000;
    font-family: 'Montserrat';
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.nav-link.active{border-color: #000000;}



p, .tm-text-gray { color: #999; font-family: 'Montserrat'; font-size: 16px; }
.tm-text-gray-light { color: #CCC; font-family: 'Montserrat'; }
.tm-text-gray-dark { color: #666; font-family: 'Montserrat';}
.tm-text-gray-dark-collab{ color: #666; font-family: 'Montserrat'; font-size: 18px;}

.tm-video-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.tm-video-item img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.tm-video-item figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tm-video-item figcaption::before,
.tm-video-item figcaption::after {
    pointer-events: none;
}

.tm-video-item figcaption,
.tm-video-item figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tm-video-item figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.tm-video-item h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.tm-video-item h2,
.tm-video-item p {
    margin: 0;
}

.tm-video-item p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.tm-gallery div.d-block { animation: show .5s ease; }

@keyframes show {
    0% {
    	opacity: 0;
    	transform: scale(0.9);
    }
    100% {
    	opacity: 1;
    	transform: scale(1);
    }
}

.tm-paging-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.1rem;
    color: #999;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tm-paging-link:hover,
.tm-paging-link.active {
    background-color: #009999;
    color: #fff; 
}



/* Videos */
#tm-video-container {
    max-height: 400px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
}

#tm-video {
    display: block;
    width: 100%;
    height: auto;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #e1e1e1;
}

.tm-video-details {
    height: 100%;
    padding: 40px;
}

/* About */
.tm-row-1640 { max-width: 1640px; }
.tm-about-2-col { max-width: 716px; }
.tm-about-3-col { max-width: 540px; }

.tm-about-2-col,
.tm-about-3-col {
    margin-bottom: 50px;
}

.tm-about-icon-container {
    width: 150px;
    height: 150px;
    border: 1px solid #009999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-about-img-text { max-width: 940px; }

/* Contact */

.tm-address-col { max-width: 520px; }





@media (max-width: 1199px) {

    .navbar-collapse {margin-right: 5px;}

    .navbar-brand {
        margin-left: 5px;
    }

    .tm-container-content { max-width: 90vw; }
    .tm-container-content2 { max-width: 90vw; }

    .end_spacer{
        padding-top: 30px;
        padding-bottom: 30px;
    }


/* Gallery section */
.tm-gallery-links {
    position: relative;
    overflow: hidden; 
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;    

    width: auto;

    margin-top: 12px;
    margin-bottom: 12px;
    
    display: flex;
    flex-wrap: wrap;
  
}

.linkContainer{
    margin: auto;
}


.filterList{
    display: inline-block;
    width: 135px;

}


.tm-gallery-links button {
    border:#000000 2px solid;
    width: 130px;
    margin: 0px;

    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;

}

.tm-gallery-link.active{ 
    color: #ffffff; 
    background-color: #ff6629f3;
}
/* Gallery section */

}


@media (max-width: 991px) {

    .navbar-collapse {
        margin-right: 0px;
        position: fixed;
        top: 82px;
        right: 0px;
        background: #ff6629f3;
        width: 170px;
        padding: 15px;
        text-align: right;
        border-bottom-left-radius: 15px;
    }

    .fullscreenToggle{
        display: block;
        position: fixed;
        left: 100vw;
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        z-index: 600;
        transition: 0.5s;
    }

    .toggle-list-container{
        margin-top: 40vh;
        background-color: #ffffff;
    }

    .nav-item-toggler{
        list-style: none;
        width: 40%;
        margin: auto;
        color: #999;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .nav-link:hover {
        color: #FF6629;
        
    }

    .navbarContainer{
        display: inline-block;

    }

    .navbar{
        position: fixed;
        top: 0; 
        width: 100%; 
    }


    .tm-section{
        margin-top: 72px;
    }

    .tm-container-content { max-width: 90vw; }
    .tm-container-content2 { max-width: 90vw; }
    
    .nav-item { width: 100%; }

    .video-container {
        height: 475px;
     }

     .desc-text{
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .end_spacer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

/* Gallery section */
.tm-gallery-links {
    position: relative;
    overflow: hidden; 
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    

    width: auto;
    margin: auto;

    margin-top: 14px;
    margin-bottom: 8px;
    
    display: flex;
    flex-wrap: wrap;  

}

.linkContainer{
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 648px;
}


.filterList{
    display: inline-block;
    width: 213px;
    padding-bottom: 7px;

    padding-left: 0px;

}


.tm-gallery-links button {
    border:#000000 2px solid;
    width: 210px;
    margin: 0px;

    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.tm-gallery-link.active{ 
    color: #ffffff; 
    background-color: #ff6629f3;
}
/* Gallery section */

}

@media (max-width: 767px) {

    .tm-paging-col { flex-direction: column; }
    .tm-paging { flex-wrap: wrap; }

    .video-container {
        height: 375px;
     }

     .desc-text{
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .end_spacer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .tm-section{
        margin-top: 68px;
    }

    /* Gallery section */
.tm-gallery-links {
    position: relative;
    overflow: hidden; 
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    

    width: auto;
    margin: auto;

    margin-top: 11px;
    margin-bottom: 7px;
    
    display: flex;
    flex-wrap: wrap;  
}

.linkContainer{
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 460px;

}


.filterList{
    display: inline-block;
    width: 150px;
    padding-bottom: 5px;

    padding-left: 0px;

}


.tm-gallery-links button {
    border:#000000 2px solid;
    width: 150px;
    margin: 0px;

    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.tm-gallery-link.active{ 
    color: #ffffff; 
    background-color: #ff6629f3;
}
/* Gallery section */

}

@media (max-width: 575px) {

    .tm-section{
        margin-top: 68px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .tm-container-content { max-width: 420px; }
    .tm-container-content2 { max-width: 420px; }
    .desc-text{
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 15px;
    }

    .spacer{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .caption{
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 13px;
    }

    .video-container {
        height: 275px;
     }

     .end_spacer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

        /* Gallery section */
.tm-gallery-links {
    position: relative;
    overflow: hidden; 
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    

    width: auto;
    margin: auto;

    margin-top: 11px;
    margin-bottom: 7px;
    
    display: flex;
    flex-wrap: wrap;  
}

.linkContainer{
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 310px;


}


.filterList{
    display: inline-block;
    width: 150px;
    padding-bottom: 4px;

    padding-left: 0px;

}


.tm-gallery-links button {
    border:#000000 2px solid;
    width: 150px;
    margin: 0px;

    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}


.tm-gallery-link.active{ 
    color: #ffffff; 
    background-color: #ff6629f3;
}
/* Gallery section */


}

@media (max-width: 400px) {
    .tm-btn-big { padding: 12px 50px 14px; }

    .desc-text{
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 14px;
    }

    .spacer{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .caption{
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 13px;
    }

    .end_spacer{
        padding-top: 30px;
        padding-bottom: 30px;
    }

            /* Gallery section */
.tm-gallery-links {
    position: relative;
    overflow: hidden; 
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    

    width: auto;
    margin: auto;

    margin-top: 11px;
    margin-bottom: 7px;
    
    display: flex;
    flex-wrap: wrap;  
}

.linkContainer{
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    width: 275px;

}


.filterList{
    display: inline-block;
    width: 135px;
    padding-bottom: 7px;

    padding-left: 0px;

}


.tm-gallery-links button {
    border:#000000 2px solid;
    width: 133px;
    margin: 0px;

    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}


.tm-gallery-link.active{ 
    color: #ffffff; 
    background-color: #ff6629f3;
}
/* Gallery section */

}

@media (max-width: 334px) {

    .desc-text{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 13px;
    }

    .spacer{
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .caption{
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
    }

    .end_spacer{
        padding-top: 20px;
        padding-bottom: 20px;
    }

}



  /* Slider Gallery CSS */

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 12px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  #caption {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px 2px 16px;
    color: rgb(197, 197, 197);
  }
  
  .gallery_row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */

  .gallery_column {
    float: left;
    width: 16.66%;
  }

  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }